body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// my accoun
.card {
  margin-top: 50px;
  &-header {
    background-color: #3f51b5;
  padding-top: 25px;
  padding-bottom: 20px;
  }
  &-body {
    .acc-options {
      padding-top: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid rgb(170, 170, 170);
      &:hover {
        background-color: rgb(230, 230, 230);
      }
    }
  }
}